.home-intro {
    padding: 16px;
    width: 100%;
    text-align: justify;
  }
  
  .home-point {
    padding: 20px;
    width: 100%;
    text-align: justify;
  }
  
  .home-point .displayPoint {
    padding: 20px;
    width: 100%;
    text-align: center;
  }
  
  .home-modifyPoint {
    padding: 20px;
    width: 100%;
    text-align: center;
  }